/* section 1 (users */
.user-select {
  display: flex;
}

#user-table {
  height: 44vh;
  overflow-y: scroll;
}

/* styles for each user cell */
.u {
  background-color: #424242;
  cursor: pointer;
}

td {
  padding: 15px;
}

/* --username field */
.user {
  color: #efefef;
}

/* --email field */
.email {
  color: #6c9cd7;
}

/* highlighted to display posts by single user */
.u-select {
  border: 4px solid #4040bb;
}

