:root {
  --light-oj: #f6ac52;
}

body {
  background-color:darkorange;
}

/* >> section 1 (users) */
.user-select {
  display: flex;
}

#user-table {
  height: 44vh;
  overflow-y: scroll;
}

/* styles for each user cell */
.u {
  background-color: #424242;
  cursor: pointer;
}

.u td {
  padding: 15px;
}

/* -username field */
.user {
  color: #efefef;
}

/* -email field */
.email {
  color: #6c9cd7;
}

/* highlight to display posts by single user */
.u-select td {
  border: 4px solid var(--light-oj);
}

/* >> section 2 (posts) */
.display-posts {
  margin-top: 20px;
}

/* -title field */
.title {
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  text-decoration: underline;
  text-decoration-color: var(--light-oj);
}

/* -content field */
.content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin-left: 5px;
}